# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.KIT-Manager-v2.iml
# Datasource local storage ignored files
/../../../../../../:\C#\KIT-Manager-v2\.idea\.idea.KIT-Manager-v2.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
